body {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    flex-direction: column;
}

.header,
.hero,
.footer {
    background-color: #1F2937;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.hero-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-text-small {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up {
    background-color: #3882f6;
    padding: 10px 32px;
    color: #f9faf8;
    font-weight: bold;
    border-radius: 10px;
    border: 0px solid;
}

.inverted {
    border: 2px solid white;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-bottom: 32px;
}

.cards-text {
    color: gray;
}

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 32px;
    display: flex;
    padding: 32px 300px;
}

blockquote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}
figcaption {
    text-align: right;
}
.call-to-action {
    border-radius: 10px;
    background-color: #3882f6;
    padding: 48px 16px;
    margin: 32px 300px;
    display: flex;
    justify-content: space-around;

}

.call-text-main {
    font-size: 22px;
}

.call-text-small {
    font-size: 18px;
}

.footer {
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 24px;
}

.left,
.right {
    display: flex;
    align-items: center;
    gap: 16px;
}


.hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 24px;
    align-items: center;
}

.hero-text {
    max-width: 600px;
}

.hero-img {
    width: 600px;
    height: 200px;
    border: 1px solid white;
    border-radius: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    max-width: 200px;
    margin-bottom: 52px;
}

.img-test {
    width: 150px;
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 10px;
    margin-bottom: 8px;
}

.cards-text {
    text-align: center;
}